footer {
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);
    padding:30px 20px;
    flex-shrink: 0;
}

.footer{
    display: flex;
    color:#fff;
}

.footer-brand{
    width:20%;
}

.footer-brand p{
    width:80%;
    font-size: 12px;
}

.footer-logo{
    display: flex;
    margin-bottom: 20px;
}

.footer-logo h3{
    color:#fff;
    font-size: 28px;
    margin-bottom: 0;
    margin-right:2px;
}
.footer-logo span{
    font-size: 14px;
    margin-top: 3px;
}

.footer-menu{
    width:20%;
}

.footer-menu .footer-links{
    margin: 0;
    list-style-type: none;
}

.footer-menu .footer-links li{
    font-size: 14px;
    margin-bottom: 10px;
}
.footer-menu .footer-links li:hover{
    cursor: pointer;
    font-weight: bold;
}

.footer-social h5 {
    color:#fff;
    margin: 5px 0;
}
.footer-social p{
    font-size: 14px;
}

.footer-social .footer-social-links{
    margin-bottom: 20px;
}

.footer-social .footer-social-links img{
    width:20px;
    height: 20px;
    margin-right: 10px;
}
