.icon-button {
  --icon-button-default-color: #788290;
  --icon-button-hover-color: #2b3945;
  display: inline-flex;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  color: var(--icon-button-default-color);
}

.icon-button:not(.feature-lock-container):not(:disabled):hover {
  color: var(--icon-button-hover-color);
}

.icon-button:disabled {
  --icon-button-default-color: #a6aeb9;
}

.icon-button--hoverable {
  border-radius: 50%;
  padding: 4px;
}

.icon-button--hoverable:not(.feature-lock-container):not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.icon-button--primary {
  --icon-button-default-color: #3892e3;
  --icon-button-hover-color: #2d75b6;
}

.icon-button--positive {
  --icon-button-default-color: #47b178;
  --icon-button-hover-color: #398e60;
}

.icon-button--negative {
  --icon-button-default-color: #cc3131;
  --icon-button-hover-color: #a32727;
}

.icon-button--warning {
  --icon-button-default-color: #a37b05;
  --icon-button-hover-color: #826204;
}

.icon-button--light {
  --icon-button-default-color: #d9dde1;
  --icon-button-hover-color: #fff;
}