.plan-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}

.plan-card {
	width: 100%;
	border: 1px solid #d9dde1;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;

	&.selected {
		border-color: #3892e3;
		box-shadow: 0 0 0 2px #3892e3;
	}
}

.plan-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;

	h4 {
		font-size: 24px;
		margin-bottom: 5px;
	}
}

.plan-quantity {
	display: flex;
	align-items: center;
	font-variant: tabular-nums;

	span {
		color: #3892e3;
		font-size: 14px;
		font-weight: 600;
	}

	img {
		width: 20px;
		height: 20px;
		vertical-align: bottom;
		margin-right: 5px;
		margin-bottom: 6px;
	}
}

.plan-day-wise {
	margin-top: 20px;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.plan-day-content {
	padding: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	h5 {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.plan-day-refresh {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;

		.plan-meal-consumed {
			display: flex;
			align-items: center;
		}

		img {
			width: 16px;
			height: 16px;
			margin-left: 10px;
		}
	}
}

.plan-meal-refresh {
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		min-width: 0;
		margin-right: 10px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
