.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  overflow: auto;
  padding: 5vh 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal-container.open {
  opacity: 1;
  visibility: visible;
}

.modal-container.open .modal-body {
  transform: scale(1);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
  border-radius: 4px;
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  max-width: 90vw;
  max-height: 90vh;
}

.modal-content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
}

.modal-close-btn {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
}
