nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: right;
}

nav li a {
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(5, 33, 42);
}