select {
	border-radius: 2px;
	padding: 4px 8px;
	height: 32px;
	font-size: 14px;
	margin: 0;
	width: 100%;
	font-family: inherit;
	cursor: inherit;
	outline: none;
	background: #fff;
	border: 1px solid #a6aeb9;
	color: #1f2532;
	font-weight: 500;

	&:hover {
		border-color: #1f2532;
	}
}
