.account-wrapper {
	display: flex;
	justify-content: center;
	column-gap: 50px;
}

.account-image {
	flex-shrink: 0;
	width: 200px;
	height: 200px;
	border: 1px solid;
	border-radius: 2px;
}

.account-sidebar {
	flex-shrink: 0;
	width: 400px;
}
