.dashboard{
    margin-bottom: 100px;
}

.dashboard h2{
    font-size: 32px;
    margin-bottom: 10px;
}

.dashboard p{
    font-size: 14px;
    margin-bottom: 30px;
}
.daily-nutrition-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.chart-container{
    width:55%;
    flex-shrink: 0;
}
.nutrients-container{
    width:40%;
    flex-shrink: 0;
}
.chart {
    width: 300px;
    height: 300px;
    background: conic-gradient(#e7a722 155deg, #52C0BC 155deg 270deg, #976fe8 270deg);
    border-radius: 50%;
    margin: 10px auto;
    position: relative;
}
.chart-info {
    position: absolute;
    color: white;
    font-size: 20px;
}

.nutrients-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.recipe-content h1, .recipe-content h2, .recipe-content h3{
    display: none;
}

.recipe-content ul, .recipe-content ol {
    margin-bottom: 30px;
}

.recipe-content ul {
    list-style: disc;
    margin-left: 20px;
}

.stat-pair {
    display: flex;
    align-items: baseline;
  }
  
  .stat-pair--vertical {
    flex-direction: column;
  }
  
  .stat-key {
    font-size: 14px;
  }
  
  .stat-value {
    font-size: 21px;
    font-weight: 600;
    color: #1f2532;
  }
  
  