@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
.main-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}